/* modular scale used: https://www.modularscale.com/?1,1100,12&em&1.3 */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Rampart+One&display=swap');

body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: calc(12px + 0.75vw); /* Responsive scaling text/font size */
  margin: 0;
  padding: 0;
  background: #9BD1F2
}

h1 { font-size: 1.912em; }
h2 { font-size: 1.559em; }
h3 { font-size: 1.471em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.199em; }
h6 { font-size: 1.132em; }

header {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: left;
  font-family: 'Rampart One', cursive;
}

h1, h2, h3, p {
  padding: 10px;
  margin: 10px;
}

label{
  width: 100%;
  display: inline-block;
  padding: 5px;
}

input {
  position: relative;
}

form {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
}

/*Below is MIT Licensed Software, specifically the hamburger menu
this also includes any associated js or html

MIT License

Copyright (c) 2015 Erik Terwan

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

*/
#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: blue;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 300px;
  margin: -100px 0 0 -275px;
  padding: 50px;
  padding-top: 100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 100% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.grid-item img {
  width: 50%;
  height: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#subheader {
  text-align: center;
  grid-template-columns: auto;
}

#MAPPEDathon {
  list-style-type: none;
}

#submit {
  padding: 10px;
}

#header img {
  width: 15%;
  height: auto;
}

#social img{
  width: 2%;
  min-width: 20px;
  height: auto;
  float: right;
  padding: 10px;
}

#newsletter {
  margin-left: auto;
  margin-right: auto;
}

#donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#donate img {
  width: 70%;
  height: auto;
  margin-bottom: 20px;
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border: solid;*/
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.image-row img {
  width: 30%;
  height: auto;
  border-radius: 5px;
  margin: 0 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.left-col {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 20px;
  padding: 5px;
  margin: 5px;
  border: solid;
  border-radius: 5px;
}

.left-col img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;

}

.right-col {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 5px;
  margin-left: 20px;
  padding: 5px;
  margin: 5px;
}


/*Media Queries*/

@media screen and (min-width: 960px) {
	


}

@media screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
}
